<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h3>404 - Page not found</h3>
            <p>The solicited path doesn't exists.</p>
            <NavLink href="/">Go back</NavLink>
        </LayoutView>
    </NotFound>
</Router>
